
  <div class="floorPlan">
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="3rd Floor">
        <ng-template ngbTabContent>
          <img height="800px" class="fPsrc" src="assets/THIRD FLOOR - 2M SOCIAL DISTANCING - Rev C - 3 September 2020-1.jpg">
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Ground Floor">
        <ng-template ngbTabContent>
          <div class="pdf-container">
            <img height="800px" class="fPsrc" src="assets/GROUND FLOOR - 2M SOCIAL DISTANCING - Rev C 3 September 2020-1.jpg">
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
