

<div class="floorPlan">

  <img class="fPsrc" src="assets/FloorPlan.jpg">

  <div id="Desk198">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk206">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk205">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk204">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk203">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk202">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk201">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>
  <div id="Desk200">
	  <div class="dot"></div>
	  <div class="pulse"></div>
  </div>


</div>


